# Misc folders
bin/
obj/
tools/**
!tools/packages.config
artifacts/
packages/

# Visual Studio settings
.vs/
.vscode/

# User-specific files
*.suo
*.user

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Windows
Thumbs.db

# MacOS
.DS_Store